.line {
    width: 100%;
    height: 0;
    border-bottom: 1px solid #505f98;
}

.nav {
display: flex;
flex-direction: row;
align-items: center;
height: 3rem;
gap: 40px;
padding: 0 40px;
font-size: 18px;
}

.general-title {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #37447e;
}

.comment-title{
    margin-bottom: 40px;
}

.comment-table{
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-collapse: collapse;
}

th,td {
    padding: 3px;
    /* border: 1px solid #f9f9f9; */
    border: 1px solid #ddd;
    /* background-color: #f9f9f9 */
}
