.header {
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 400px;
}

.header-flex-row {
  display: flex;
  flex-direction: row;
}

.title {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #37447e;
}

.text {
  color: #505f98;
}

.pointer {
  cursor: pointer;
}

.gap {
  gap: 40px;
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 40px;
  background: #111b47;
  color: white;
  border-radius: 8px;
}
