.paginate li {
  list-style: none;
  float: left;
  cursor: pointer;
  padding: 6px 8px;
  margin: 0 4px;
  border: 1px solid black;
  border-radius: 4px;
}

.selected {
  color: red;
}

.items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  padding: 20px 0;
  margin: 10px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.submission-header {
  height: 2rem;
  background: lightgray;
}

.submission-container ul {
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20%;
  padding: 0 5%;
}

.submission-container li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 2rem;
  vertical-align: middle;
}
